.home__container {
  width: 25rem;
  height: 18.5rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem 0.8rem 0.8rem;
  border: 5px solid #00000012;
  position: relative;
  animation: fadeIn 0.3s;
}

.home__countdown {
  animation: fadeIn 0.3s,
}

.home__countdown--container {
  display: flex;
  gap: 5px;
  font-weight: bold;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  color: #feecff;
  font-family: VT323, monospace;
  background-color: #0000004d;
  width: 8rem;
  margin: 0 auto;
  letter-spacing: 1.5px;
  animation: fadeIn 0.3s;
  margin-top: 0.5rem;
}