.home__container {
  width: 25rem;
  height: 18.5rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0.8rem 0.8rem 0.8rem;
  border: 5px solid #0000001c;
  position: relative;
  animation: fadeIn 0.3s;
}

.home__countdown--container {
  display: flex;
  gap: 5px;
  font-weight: bold;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  color: #010101b5;
  font-family: VT323, monospace;
  background-color: rgba(255, 255, 255, 0.7);
  width: 8rem;
  margin: 0 auto;
  letter-spacing: 1.5px;
}