@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  letter-spacing: 1.2px !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: 'VT323', monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  animation: fadeIn 0.3s;
  width: 25rem;
  height: 18.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorError.Mui-checked {
  color: #f292fa8f;
}

.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorError.Mui-checked svg:first-child {
  color: #ffffff;
}

.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorError {
  color: rgb(0 0 0 / 45%)
}