@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  letter-spacing: 1.2px !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: 'VT323', monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  animation: fadeIn 0.3s;
  width: 25rem;
  height: 18.5rem;
}

.message-pulse {
  animation: pulse 2.25s infinite !important;
}