@import url('https://fonts.googleapis.com/css2?family=VT323&family=Wallpoet&display=swap');

html {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  animation: fadeIn 0.3s;
  width: 25rem;
  height: 20rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}