:root {
  /* Backgrounds */
  --theme-bg-primary: #fff;


  /* Text */
  --theme-text-primary: rgba(0, 0, 0, 0.9);

  --theme-text-disabled-low: rgba(0, 0, 0, 0.1);
  --theme-text-disabled-medium: rgba(0, 0, 0, 0.3);
  --theme-text-disabled-hight: rgba(0, 0, 0, 0.5);
  /* Static Colors */
}

html[data-theme='dark'] {
  /* Backgrounds */
  --theme-bg-primary: #242424;

  /* Text */
  --theme-text-primary: rgba(227, 227, 227, 0.9);

  --theme-text-disabled-low: rgba(255, 255, 255, 0.1);
  --theme-text-disabled-medium: rgba(255, 255, 255, 0.3);
  --theme-text-disabled-hight: rgba(255, 255, 255, 0.5);

  /* Static Colors */
}